{% extends 'appmembro/base.html' %}
{% load bootstrap3 %}
{% load widget_tweaks %}

{% block actions %}
{% endblock %}

{% block title %}
	{% bootstrap_icon 'user' %} Meus Dados 
{% endblock %}

{% block content %}

<div class="alert alert-warning">
  <strong>Aviso!</strong> O portal SAOA está em fase de testes!!!.
</div>

<form class="form" role="form" method="POST">
  {% csrf_token %}
  {% for error in form.non_field_errors %}
    {% bootstrap_alert error 'danger' %}
  {% endfor %}
  
   <!-- dizendo para o bootstrap utilizar todos os atributos definidos em views.py -->
   {% bootstrap_form form %} 
   
  {% buttons submit='Gravar' %}
    <a href="javascript:history.go(-1);" class="btn btn-warning" role="button">Voltar</a>
  {% endbuttons %}
</form>
{% endblock %}
