

Termo de Consentimento para Autocadastro

**1. Introdução**

Bem-vindo a plataforma SAOA! Para garantir a segurança e a privacidade dos seus dados, é necessário que você leia e aceite os termos e condições descritos neste documento antes de proceder com o seu cadastro.

**2. Coleta e Uso de Dados**

Ao se cadastrar na plataforma SAOA, você concorda em fornecer informações pessoais, tais como nome, endereço de e-mail, telefone e outros dados relevantes. Estes dados serão utilizados exclusivamente para:

- Gerenciamento do seu perfil de usuário.
- Fornecimento de serviços e suporte técnico.
- Envio de comunicações e atualizações relacionadas ao sistema.

**3. Armazenamento e Proteção de Dados**

Seus dados serão armazenados de forma segura em nossos servidores e somente serão acessados por pessoal autorizado. Adotamos medidas técnicas e organizacionais para proteger suas informações contra acessos não autorizados, perdas ou alterações.

**4. Compartilhamento de Dados**

Nós não compartilhamos, vendemos ou alugamos suas informações pessoais a terceiros sem o seu consentimento, exceto quando exigido por lei ou para proteger nossos direitos legais.

**5. Direitos do Usuário**

Você tem o direito de acessar, corrigir, atualizar ou solicitar a exclusão de suas informações pessoais a qualquer momento. Para isso, basta entrar em contato com nosso suporte.

**6. Aceitação dos Termos**

Ao clicar em "Aceito" ou similar, você confirma que leu, entendeu e concorda com os termos e condições descritos neste documento.

**7. Alterações no Termo de Consentimento**

Nos reservamos o direito de modificar este termo de consentimento a qualquer momento. Notificaremos os usuários sobre quaisquer alterações através do sistema ou por e-mail.

**8. Contato**

Se você tiver qualquer dúvida ou preocupação sobre este termo de consentimento, entre em contato conosco através do e-mail [lapinf@ufn.edu.br].


Ao prosseguir com o cadastro, você estará concordando com os termos acima e autorizando o uso de suas informações conforme descrito.



